<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"><meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receitas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div>
        <h1>Receitas</h1>
        </div>
    </header>

    <main>
        <div class="bolinha">
            <div class="text-bolinha">
                <h2>Total</h2>
                <h3>R$ {{ total }}</h3>
            </div>
        </div>
        <div class="bolinha2">
            <div>
                <h2>+</h2>
            </div>
        </div>
    </main>

</body>
</html>
